In [ ]:
import numpy as np
import pandas as pd

In [ ]:
##Creating new study plan based on the new competencies and durations predicted
data=pd.read_csv('Tronc_Commun.csv')
data

                  Comptency  Duration 2
0                  big data   14.593619
1           shell scripting   14.774022
2       project engineering   15.461201
3        project management   14.062950
4           microsoft azure   14.455705
5           test automation   14.736641
6                       OOP   11.668024
7                     linux   11.996387
8                    french   12.175062
9                   english   17.797428
10     deployments services   18.062803
11                  asp net   14.264272
12  database administration   11.636148
13               algorithms   14.969799
14       spring integration   14.953724
15   network administration   12.081783
16            communication   14.550884
17  relationship management   14.539782
18     process optimization   11.955803
19                    agile   15.011433
20                   devops   14.546086
21             web services   14.959303
22          problem solving   21.428572
23             microservice   14.620686
24       management control   14.713964
25    system administration   14.978388
26              spring boot   15.186634
27                     jira   14.732976
28               unit tests   14.998128

In [ ]:
##28/5 to drop 
data.drop(index=5, axis=0, inplace=True)

In [ ]:
data['Duration 2']=round(data['Duration 2'])*3

In [ ]:
##data = data.sort_values('Duration 2')
data

                  Comptency  Duration 2
8                    french        36.0
12  database administration        36.0
15   network administration        36.0
7                     linux        36.0
6                       OOP        36.0
18     process optimization        36.0
4           microsoft azure        42.0
3        project management        42.0
11                  asp net        42.0
25    system administration        45.0
23             microservice        45.0
21             web services        45.0
26              spring boot        45.0
20                   devops        45.0
19                    agile        45.0
24       management control        45.0
0                  big data        45.0
14       spring integration        45.0
16            communication        45.0
27                     jira        45.0
13               algorithms        45.0
2       project engineering        45.0
1           shell scripting        45.0
17  relationship management        45.0
10     deployments services        54.0
9                   english        54.0
22          problem solving        63.0

In [ ]:
df1=data.tail(6)
df1['Duration 2'].sum()

306.0

In [ ]:
df1

                  Comptency  Duration 2
2       project engineering        45.0
1           shell scripting        45.0
17  relationship management        45.0
10     deployments services        54.0
9                   english        54.0
22          problem solving        63.0

In [ ]:
dss=pd.read_csv('GL.csv')

In [ ]:
dss['Duration 2']=round(dss['Duration 2'])*3
dss = dss.sort_values('Duration 2')
dss

                         Comptency  Duration 2
37                             php        33.0
46                         angular        33.0
25                           scala        33.0
22                          python        33.0
18                       analytics        33.0
29                 spring security        42.0
35                 web development        42.0
31                          django        42.0
48                         laravel        42.0
15                    web services        42.0
14                     spring boot        42.0
12                           html5        42.0
19                      amazon web        42.0
9                      open studio        42.0
57                       front end        42.0
53                             uml        42.0
3                              c #        42.0
5                            scrum        42.0
13                 senior engineer        45.0
1                  software design        45.0
42                             git        45.0
43       requirement specification        45.0
33                             CSS        45.0
32                         backend        45.0
45              spring integration        45.0
58                     data mining        45.0
28                      unit tests        45.0
26         database administration        45.0
11                        big data        45.0
55                 oracle database        45.0
7                         net core        45.0
50                      javascript        45.0
51                              qt        45.0
17                          pl sql        45.0
10                  developer test        45.0
56                      typescript        45.0
40            software development        45.0
49                          jquery        54.0
41                        bigquery        54.0
52                         next js        54.0
0                          asp net        54.0
36            oracle sql developer        54.0
2                          mongodb        54.0
24                        jhipster        54.0
23                visual basic net        54.0
39         single page application        54.0
6        object orient programming        54.0
16                      spring mvc        54.0
8                          node js        54.0
38                             c++        57.0
34                        react js        57.0
44         java enterprise edition        57.0
30                 shell scripting        57.0
4                           kotlin        57.0
21  sql server integration service        63.0
20                    asp net core        63.0
47                   microservices        63.0
27                         symfony        63.0
54                   CMS wordpress        63.0
59                           mysql        63.0

In [ ]:
dss.drop(index=29, axis=0, inplace=True)
dss

                         Comptency  Duration 2
37                             php        33.0
46                         angular        33.0
25                           scala        33.0
22                          python        33.0
35                 web development        42.0
31                          django        42.0
48                         laravel        42.0
15                    web services        42.0
14                     spring boot        42.0
12                           html5        42.0
19                      amazon web        42.0
9                      open studio        42.0
57                       front end        42.0
53                             uml        42.0
3                              c #        42.0
5                            scrum        42.0
13                 senior engineer        45.0
1                  software design        45.0
42                             git        45.0
43       requirement specification        45.0
33                             CSS        45.0
32                         backend        45.0
45              spring integration        45.0
58                     data mining        45.0
28                      unit tests        45.0
26         database administration        45.0
11                        big data        45.0
55                 oracle database        45.0
7                         net core        45.0
50                      javascript        45.0
51                              qt        45.0
17                          pl sql        45.0
10                  developer test        45.0
56                      typescript        45.0
40            software development        45.0
49                          jquery        54.0
41                        bigquery        54.0
52                         next js        54.0
0                          asp net        54.0
36            oracle sql developer        54.0
2                          mongodb        54.0
24                        jhipster        54.0
23                visual basic net        54.0
39         single page application        54.0
6        object orient programming        54.0
16                      spring mvc        54.0
8                          node js        54.0
38                             c++        57.0
34                        react js        57.0
44         java enterprise edition        57.0
30                 shell scripting        57.0
4                           kotlin        57.0
21  sql server integration service        63.0
20                    asp net core        63.0
47                   microservices        63.0
27                         symfony        63.0
54                   CMS wordpress        63.0
59                           mysql        63.0

In [ ]:
dss1=dss.head(11)
dss1['Duration 2'].sum()

426.0

In [ ]:
result = pd.concat([dss1, df1])
result

                  Comptency  Duration 2
37                      php        33.0
46                  angular        33.0
25                    scala        33.0
22                   python        33.0
35          web development        42.0
31                   django        42.0
48                  laravel        42.0
15             web services        42.0
14              spring boot        42.0
12                    html5        42.0
19               amazon web        42.0
2       project engineering        45.0
1           shell scripting        45.0
17  relationship management        45.0
10     deployments services        54.0
9                   english        54.0
22          problem solving        63.0

In [ ]:
result['Duration 2'].sum()

732.0

In [ ]:
##Same for all specialties 
result.to_csv('Plan_GL.csv')

In [ ]:
curc=pd.read_excel('Copie de (Plan_d_études)(4SAE)(2022_2023).xlsx')
##curc.drop(index=30, axis=0, inplace=True)
##curc.drop(index=31, axis=0, inplace=True)
##curc.dropna(axis=1)
curc

,Classe 4 SAE (Software Architecture Engineering)_2021-2022,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,UE,NaN,Charge,NaN,Période,ECTS,NaN
1,NaN,NaN,HE,NaN,NaN,NaN,NaN
2,Architectures n-tiers,Architecture des SI I,105,42.0,1 & 2,4,10.0
3,NaN,Services Web,NaN,21.0,1,2,NaN
4,NaN,Architecture des SI II,NaN,42.0,1 & 2,4,NaN
5,Applications Web Avancées,Initiation application côté client,42,21.0,2,2,4.0
6,NaN,Architecture Orientée Services (SOA),NaN,21.0,2,2,NaN
7,"Communication, Culture et Citoyenneté F4","Communication, Culture et Citoyenneté F4",42,42.0,1 & 2,2,2.0
8,Recherche opérationnelle,Graphes et applications,63,21.0,1,2,5.0
9,NaN,Programmation linéaire,NaN,21.0,2,2,NaN
10,NaN,Projet RO-complexité,NaN,21.0,1 & 2,1,NaN
11,Administration systèmes et réseaux,Sécurité Informatique,21,21.0,1,2,2.0
12,Acquisition des données,Data Mining,63,42.0,1 & 2,3,6.0
13,NaN,BD NoSql,NaN,21.0,1,3,NaN
14,Stage d'immersion en entreprise,Stage d'immersion en entreprise,NaN,NaN,NaN,3,3.0
15,NaN,NaN,336,NaN,NaN,32,NaN
16,NaN,NaN,24,NaN,NaN,NaN,NaN
17,UE,NaN,Charge,NaN,NaN,ECTS,NaN
18,NaN,NaN,HE,NaN,NaN,NaN,NaN
19,"Communication, Culture et Citoyenneté A4","Communication, Culture et Citoyenneté A4",42,42.0,1 & 2,3,3.0
20,Administration systèmes et réseaux,Services et administration réseaux,63,21.0,1,2,6.0
21,NaN,Administration des bases de données,NaN,21.0,1,2,NaN
22,NaN,Système d'exploitation avancé 1,NaN,21.0,1,2,NaN
23,Management et pilotage de projets,Gestion de projet,72,21.0,2,1.5,5.0
24,NaN,Innovation et entreprenariat,NaN,42.0,1 & 2,3,NaN
25,NaN,Droit de la propriété intellectuelle,NaN,9.0,1,0.5,NaN
26,Projet intégration développement,Projet intégration développement,84,84.0,1 & 2,8,8.0
27,Analyse et Système d'exploitation avancé,Big Data,63,21.0,2,3,6.0
28,NaN,Initiation à l'informatique décisionnelle,NaN,21.0,2,2,NaN
29,NaN,Système d'exploitation avancé 2,NaN,21.0,2,1,NaN
30,NaN,NaN,324,NaN,NaN,28,NaN
31,NaN,NaN,21,NaN,NaN,NaN,NaN

In [ ]:
listq=curc['Unnamed: 1']
listaa = [x for x in listq if x is not np.nan]
listaa

['Architecture des SI I',
 'Services Web ',
 'Architecture des SI II',
 'Initiation application côté client',
 'Architecture Orientée Services (SOA)',
 'Communication, Culture et Citoyenneté F4',
 'Graphes et applications',
 'Programmation linéaire',
 'Projet RO-complexité',
 'Sécurité Informatique',
 'Data Mining ',
 'BD NoSql',
 "Stage d'immersion en entreprise",
 'Communication, Culture et Citoyenneté A4',
 'Services et administration réseaux',
 'Administration des bases de données',
 "Système d'exploitation avancé 1",
 'Gestion de projet',
 'Innovation et entreprenariat',
 'Droit de la propriété intellectuelle',
 'Projet intégration développement',
 'Big Data',
 "Initiation à l'informatique décisionnelle",
 "Système d'exploitation avancé 2"]

In [ ]:
cds=pd.read_csv('Plan_GL.csv')
lista2=list(cds.Comptency)
lista2

['php',
 'angular',
 'scala',
 'python',
 'web development',
 'django',
 'laravel',
 'web services',
 'spring boot',
 'html5',
 'amazon web',
 'project engineering',
 'shell scripting',
 'relationship management',
 'deployments services',
 'english',
 'problem solving']

In [ ]:
pip install transformers

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting transformers
  Downloading transformers-4.29.1-py3-none-any.whl (7.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.1/7.1 MB 63.6 MB/s eta 0:00:00
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from transformers) (3.12.0)
Collecting huggingface-hub<1.0,>=0.14.1 (from transformers)
  Downloading huggingface_hub-0.14.1-py3-none-any.whl (224 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 224.5/224.5 kB 26.3 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.10/dist-packages (from transformers) (1.22.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from transformers) (23.1)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.10/dist-packages (from transformers) (6.0)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.10/dist-packages (from transformers) (2022.10.31)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from transformers) (2.27.1)
Collecting tokenizers!=0.11.3,<0.14,>=0.11.1 (from transformers)
  Downloading tokenizers-0.13.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (7.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.8/7.8 MB 72.4 MB/s eta 0:00:00
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.10/dist-packages (from transformers) (4.65.0)
Requirement already satisfied: fsspec in /usr/local/lib/python3.10/dist-packages (from huggingface-hub<1.0,>=0.14.1->transformers) (2023.4.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.10/dist-packages (from huggingface-hub<1.0,>=0.14.1->transformers) (4.5.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (3.4)
Installing collected packages: tokenizers, huggingface-hub, transformers
Successfully installed huggingface-hub-0.14.1 tokenizers-0.13.3 transformers-4.29.1

In [ ]:
##Simple test of similraty to calculate score of old study plan ( Not admitted)
from transformers import BertTokenizer, BertModel
import torch.nn.functional as F

# Load pre-trained tokenizer and model
tokenizer = BertTokenizer.from_pretrained('bert-base-uncased')
model = BertModel.from_pretrained('bert-base-uncased')

# Define two example lists
list1 = listaa
list2 = lista2

# Tokenize each item in the lists
tokens1 = [tokenizer(item, padding=True, truncation=True, return_tensors='pt') for item in list1]
tokens2 = [tokenizer(item, padding=True, truncation=True, return_tensors='pt') for item in list2]

# Get the embeddings for each item in the lists
embeddings1 = [model(**token).last_hidden_state.mean(dim=1) for token in tokens1]
embeddings2 = [model(**token).last_hidden_state.mean(dim=1) for token in tokens2]

# Calculate the semantic similarity between each pair of embeddings
similarity_scores = []
for emb1 in embeddings1:
    for emb2 in embeddings2:
        sim = F.cosine_similarity(emb1, emb2, dim=1)
        similarity_scores.append(sim.item())

# Aggregate the similarity scores
overall_similarity = sum(similarity_scores) / len(similarity_scores)

print("Overall similarity score:", overall_similarity)

Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertModel: ['cls.predictions.bias', 'cls.predictions.transform.dense.bias', 'cls.predictions.transform.dense.weight', 'cls.seq_relationship.weight', 'cls.predictions.transform.LayerNorm.weight', 'cls.predictions.decoder.weight', 'cls.predictions.transform.LayerNorm.bias', 'cls.seq_relationship.bias']
- This IS expected if you are initializing BertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

Overall similarity score: 0.5114644820637563